[submodule "nanoGPT"]
	path = nanoGPT
	url = https://github.com/pratimugale/nanoGPT
[submodule "FEATHER"]
	path = FEATHER
	url = https://github.com/IlyaTyagin/FEATHER
[submodule "TetrisADAPT.jl"]
	path = TetrisADAPT.jl
	url = git@github.com:pratimugale/TetrisADAPT.jl.git
