[submodule "ADAPT.jl"]
	path = ADAPT.jl
	url = https://github.com/kmsherbertvt/ADAPT.jl
[submodule "nanoGPT"]
	path = nanoGPT
	url = https://github.com/karpathy/nanoGPT
[submodule "FEATHER"]
	path = FEATHER
	url = https://github.com/IlyaTyagin/FEATHER
